{% extends 'base.html' %}
{% from 'bootstrap/form.html' import render_form,render_form_row %}

{% block title %}Login{% endblock %}

{% block extendstyle%}
   <style type="text/css">
        .form-control-label{
              color: #ffffff;  
        }
        #submit{
            margin-top: 30px;
            margin-left: 95px;
            width: 100px;
        }
    </style>
{% endblock%}

{% block content %}
    <div class="jumbotron">
        <div class="row lpanel" style="height:700px;background:url({{ url_for('static', filename='images/mainback.jpg') }})">
            <div class="col-md-8">
            </div>
            <div class="col-md-4">
                <div class="card mb-3 w-100 bg-light">
                    <div class="card-header"></div>
                    <div class="card-body card-login">
                        {{render_form(form,button_map={'submit': 'success'}) }}
                        
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
