#btnadd {
    margin-top:10px;
}
.navbar-brand>img {
    display:inline;
    margin-right: 10px;
    
}
.lpanel {
    height:700px;
    background:url(/static/images/mainback.jpg);
}
.card-login {
    margin-top: 100px;
    margin-right: 100px;
}

.query-form{
    width:500px;
    margin-top: 20px;
    margin-bottom: 20px;
}

.btn{
    margin-left: 20px;
}
.float-left{
    float:left;
}

.float-right{
    float:right;
}
.foot{
    clear: both;
}

